[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/lightline"]
	path = .vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/bundle/codi"]
	path = .vim/bundle/codi
	url = git@github.com:metakirby5/codi.vim.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle/phpcomplete"]
	path = .vim/bundle/phpcomplete
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/vdebug"]
	path = .vim/bundle/vdebug
	url = git@github.com:joonty/vdebug.git
[submodule ".vim/bundle/vim-markdown-preview"]
	path = .vim/bundle/vim-markdown-preview
	url = git@github.com:JamshedVesuna/vim-markdown-preview.git
[submodule ".vim/bundle/markdown-table-mode"]
	path = .vim/bundle/markdown-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
