" When in Command mode or Visual Mode, have the tab key indent the line
nnoremap <Tab> >>
vnoremap <Tab> >

" Set Shift-Tab for unindent in command and insert mode
nnoremap <S-Tab> <<
inoremap <S-Tab> <C-d>
vnoremap <S-Tab> <

" Map <Leader>d to delete in to the "blackhole register". IE: Delete without
" copying and <Leader>p to paste over the current text
nnoremap <Leader>d "_d
vnoremap <Leader>d "_d
vnoremap <Leader>p "_dP
